@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 94 66% 99%;
    --foreground: 94 64% 5%;
    --muted: 94 18% 89%;
    --muted-foreground: 94 4% 40%;
    --popover: 94 66% 99%;
    --popover-foreground: 94 64% 5%;
    --card: 94 66% 99%;
    --card-foreground: 94 64% 5%;
    --border: 94 12% 91%;
    --input: 94 12% 91%;
    --primary: 94 16% 72%;
    --primary-foreground: 94 16% 12%;
    --secondary: 94 20% 91%;
    --secondary-foreground: 94 20% 11%;
    --accent: 94 20% 91%;
    --accent-foreground: 94 20% 11%;
    --destructive: 14 93% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 94 16% 72%;
    --chart-1: 94 16% 72%;
    --chart-2: 94 20% 91%;
    --chart-3: 94 20% 91%;
    --chart-4: 94 20% 94%;
    --chart-5: 94 19% 72%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 94 59% 2%;
    --foreground: 94 19% 100%;
    --muted: 94 18% 11%;
    --muted-foreground: 94 4% 60%;
    --popover: 94 59% 2%;
    --popover-foreground: 94 19% 100%;
    --card: 94 59% 2%;
    --card-foreground: 94 19% 100%;
    --border: 94 12% 10%;
    --input: 94 12% 10%;
    --primary: 94 16% 72%;
    --primary-foreground: 94 16% 12%;
    --secondary: 94 5% 15%;
    --secondary-foreground: 94 5% 75%;
    --accent: 94 5% 15%;
    --accent-foreground: 94 5% 75%;
    --destructive: 14 93% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 94 16% 72%;
    --chart-1: 94 16% 72%;
    --chart-2: 94 5% 15%;
    --chart-3: 94 5% 15%;
    --chart-4: 94 5% 18%;
    --chart-5: 94 19% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
